// Place all the styles related to the Movies controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.container {
  width: 800px;
}
h1 {
  height: 50px;
  text-align: center;
  background: green;
}

.twocol {
   overflow:hidden;
 }

 .twocol > div:first-child {
   width:400px;
   height: 400px;
   float: left;
   background: gold;
 }

 .twocol > div:last-child {
   width: 390px;
   height: 410px;
   float: right;
   background: blue;
 }
